.todo {
    &__list {
        max-height: 400px; 
        overflow-y: auto;
        padding-right: 20px;
    }

    &__item-task {
        display: flex;
        align-items: center;
        gap: 20px;
        user-select: none;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 25px;
        font-weight: 500;
        font-size: var(--item-size);
        color: var(--black);
        cursor: pointer;

        &.active {
            text-decoration: line-through;
            color: rgba(37, 37, 37, 0.5);
        }
    }

    &__item-check-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--purple);
        border-radius: 2px;
        width: 32px;
        height: 32px;
        cursor: pointer;
    }

    &__item-check {
        display: none;
        border-left: 2px solid var(--purple);
        border-top: 2px solid var(--purple);
        width: 10px;
        height: 20px;
        transform: rotate(-140deg)  translate(1.2px, 2px);
        pointer-events: none;

        &.active {
            display: block;
        }
    }
}
    
.action-icons {
    display: flex;
    gap: 15px;
}

.simplebar-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.simplebar-vertical .simplebar-scrollbar:before {
    background-color: var(--purple);
}

.simplebar-vertical .simplebar-scrollbar.simplebar-visible::before {
    opacity: .8;
}