.icon {
    width: 1.2rem;
    height: 1.2rem;
}

.search-icon {
    width: var(--search-icon-width);;
    height: var(--search-icon-height);
    fill: var(--purple);
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.moon-icon {
    fill: var(--theme-icon-color);
}

.todo-check {
    width: var(--todo-check-icon-width);
    width: var(--todo-check-icon-height);
}

.plus-icon {
    fill: var(--plus-icon);
}

.change-icon {
    width: var(--change-icon-width);
    height: var(--change-icon-height);
    fill: var(--change-icon-fill);
    stroke: var(--change-icon-stroke);

    &:hover {
        stroke: var(--purple);
    }
}

.trash-icon {
    width: var(--trash-icon-width);
    height: var(--trash-icon-height);
    fill: var(--trash-icon-fill);
    stroke: var(--trash-icon-stroke);

    &:hover {
        stroke: var(--red-color);
    }

    use {
        pointer-events: none;
    }
}